In [1]:
#creating series
import pandas as pd
a=pd.Series([2,4,6,8,10])
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [7]:
#converting pandas to list
import pandas as pd
a=pd.Series([2,4,6,8,10])
print("Pandas series and its type")
print(a)
print(type(a))
print("converting pandas to list")
print(a.tolist())
print(type(a.tolist()))

Pandas series and its type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
converting pandas to list
[2, 4, 6, 8, 10]
<class 'list'>

In [8]:
#add,subtract,multiply and divide two series
import pandas as pd
a=pd.Series([2,4,6,8,10])
b=pd.Series([1,3,5,7,9])
c=a+b
print("adding two series:")
print(c)
c=a-b
print("subtracting two series:")
print(c)
c=a*b
print("multiplying two series:")
print(c)
c=a/b
print("dividing two series:")
print(c)

adding two series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtracting two series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiplying two series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
dividing two series:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
#comparing the elements in two series
import pandas as pd
a=pd.Series([2,4,6,8,10])
b=pd.Series([1,3,5,7,9])
print("Series 1:")
print(a)
print("Series 2:")
print(b)
print("compare the elements in two series:")
print("Equals:")
print(a==b)
print("Greater than:")
print(a>b)
print("Less than:")
print(a<b)

Series 1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series 2:
0    1
1    3
2    5
3    7
4    9
dtype: int64
compare the elements in two series:
Equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
0    True
1    True
2    True
3    True
4    True
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
#converting dictionary to series
import pandas as pd
a={'a':100,'b':200,'c':300,'d':400,'e':500}
print("original dictionary:")
print(a)
series=pd.Series(a)
print("converted series:")
print(series)

original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
converted series:
a    100
b    200
c    300
d    400
e    500
dtype: int64

In [12]:
#converting numpy array to pandas series
import numpy as np
import pandas as pd
array=np.array([10,20,30,40,50])
print("numpy array:")
print(array)
series=pd.Series(array)
print("converting numpy array to pandas series:")
print(series)

numpy array:
[10 20 30 40 50]
converting numpy array to pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [13]:
#changing the datatype of a series
import pandas as pd
a=pd.Series(['100','200','python','300.12','400'])
print("original series:")
print(a)
print("changing the datatype of given series:")
b=pd.to_numeric(a,errors='coerce')
print(b)

original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
changing the datatype of given series:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [14]:
#convert first column of a dataframe as a series
import pandas as pd
a={'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
b=pd.DataFrame(data=a)
print("original dataframe:")
print(b)
c=b.ix[:,0]
print("\n first column of a dataframe as a series:")
print(c)
print(type(c))

original dataframe:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

AttributeError: 'DataFrame' object has no attribute 'ix'

In [15]:
#convert given series to an array
import pandas as pd
import numpy as np
a=pd.Series(['100','200','python','300.12','400'])
print("original Data series:")
print(a)
print("convert series to an array:")
b=np.array(a.values.tolist())
print(b)

original Data series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
convert series to an array:
['100' '200' 'python' '300.12' '400']

In [17]:
#convert series of lists to one series
import pandas as pd
a=pd.Series([
    ['red','green','white'],
    ['red','black'],
    ['yellow']])
print("original series:")
print(a)
a=a.apply(pd.Series).stack().reset_index(drop=True)
print("one series:")
print(a)

original series:
0    [red, green, white]
1           [red, black]
2               [yellow]
dtype: object
one series:
0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

In [18]:
#sorting a series
import pandas as pd
a=pd.Series(['100','200','python','300.12','400'])
print("original data series:")
print(a)
b=pd.Series(a).sort_values()
print(b)

original data series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [19]:
#add some data to an existing series
import pandas as pd
a=pd.Series(['100','200','python','300.12','400'])
print("original series:")
print(a)
print("\n data series after adding some data:")
b=a.append(pd.Series(['500','php']))
print(b)

original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

 data series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [20]:
#create a subset of a given series based on value and condition
import pandas as pd
a=pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print("original series:")
print(a)
print("\n subset of given series:")
n=6
b=a[a<n]
print(b)

original series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

 subset of given series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [21]:
#change order of index
import pandas as pd
a=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
print("original array:")
print(a)
a=a.reindex(index=['B','A','C','D','E'])
print("data series after changing order of index:")
print(a)

original array:
A    1
B    2
C    3
D    4
E    5
dtype: int64
data series after changing order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [22]:
#create mean,standard deviation of the data of a given series
import pandas as pd
a=pd.Series(data=[1,2,3,4,5,6,7,8,9,5,3])
print("original series:")
print(a)
print("Mean of the series:")
print(a.mean())
print("standard deviation of the series:")
print(a.std())

original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the series:
4.818181818181818
standard deviation of the series:
2.522624895547565

In [23]:
#items of a given series not present in another given series
import pandas as pd
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
print("original series:")
print("series 1:")
print(a)
print("series 2:")
print(b)
print("items of a given series not present in another given series:")
result=a[~a.isin(b)]
print(result)

original series:
series 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
series 2:
0     2
1     4
2     6
3     8
4    10
dtype: int64
items of a given series not present in another given series:
0    1
2    3
4    5
dtype: int64

In [25]:
#items which are not common of two given series
import pandas as pd
import numpy as np
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
print("original series:")
print("series 1:")
print(a)
print("series 2:")
print(b)
print("items which are not common of two given series:")
c=pd.Series(np.union1d(a,b))
d=pd.Series(np.intersect1d(a,b))
result=c[~c.isin(d)]
print(result)

original series:
series 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
series 2:
0     2
1     4
2     6
3     8
4    10
dtype: int64
items which are not common of two given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [26]:
#program to compute the minimum,25percentile,median,75th and maximum of series
import pandas as pd
import numpy as np
a_state=np.random.RandomState(100)
a_series=pd.Series(a_state.normal(10,4,20))
print("original series:")
print(a_series)
result=np.percentile(a_series,q=[0,25,50,75,100])
print("\n minimum,25percentile,median,75th and maximum of series:")
print(result)

original series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

 minimum,25percentile,median,75th and maximum of series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [31]:
#calculate the frequency counts of each unique value of a given series
import pandas as pd
import numpy as np
num_series=pd.Series(np.take(list('0123456789'),np.random.randint(10,size=40)))
print("original series:")
print(num_series)
print("frequency of each unique value of series")
result=num_series.value_counts()
print(result)

original series:
0     3
1     4
2     1
3     2
4     3
5     1
6     8
7     4
8     8
9     4
10    6
11    6
12    8
13    4
14    7
15    7
16    3
17    8
18    3
19    2
20    8
21    3
22    2
23    5
24    3
25    8
26    6
27    6
28    6
29    3
30    9
31    9
32    1
33    8
34    9
35    7
36    7
37    6
38    5
39    9
dtype: object
frequency of each unique value of series
3    7
8    7
6    6
7    4
4    4
9    4
2    3
1    3
5    2
dtype: int64

In [32]:
#display most frequent value in a given series & replace everything else as other in the series
import pandas as pd
import numpy as np
np.random.RandomState(100)
series=pd.Series(np.random.randint(1,5,[15]))
print("original Series:")
print(series)
print("top 2 freq:",series.value_counts())
result=series[~series.isin(series.value_counts().index[:1])]='other'
print(series)

original Series:
0     4
1     2
2     1
3     1
4     1
5     2
6     2
7     2
8     3
9     4
10    3
11    1
12    3
13    4
14    1
dtype: int32
top 2 freq: 1    5
2    4
4    3
3    3
dtype: int64
0     other
1     other
2         1
3         1
4         1
5     other
6     other
7     other
8     other
9     other
10    other
11        1
12    other
13    other
14        1
dtype: object

In [34]:
#find the positions of numbers that are multiples of a given series
import pandas as pd
import numpy as np
series=pd.Series(np.random.randint(1,10,9))
print("original array:")
print(series)
result=np.where(series%5==0)
print("positions of numbers that are multiples of 5:")
print(result)

original array:
0    3
1    9
2    8
3    1
4    3
5    6
6    9
7    9
8    4
dtype: int32
positions of numbers that are multiples of 5:
(array([], dtype=int64),)

In [35]:
#extract items at a given positions of a given series
import pandas as pd
a=pd.Series(list('2390238923902390239023'))
ele_pos=[0,2,6,11,21]
print("original series:")
print(a)
result=a.take(ele_pos)
print("\n extract items at a given positions of a given series:")
print(result)

original series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

 extract items at a given positions of a given series:
0     2
2     9
6     8
11    0
21    3
dtype: object

In [36]:
#get the positions of items of a given series in another series
import pandas as pd
a=pd.Series([1,2,3,4,5,6,7,8,9,10])
b=pd.Series([1,3,5,7,10])
print("original series:")
print(a)
print(b)
result=[pd.Index(a).get_loc(i) for i in b]
print("positions of items of b in a:")
print(result)

original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
positions of items of b in a:
[0, 2, 4, 6, 9]

In [37]:
#convert first and last character of each word to uppercase
import pandas as pd
a=pd.Series(['php','python','java','daa'])
print("original series:")
result=a.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())
print("\n first and last character of each word to upper case:")
print(result)

original series:

 first and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3       DaA
dtype: object

In [38]:
#calculate no of characters in each word in a given series
import pandas as pd
a=pd.Series(['php','python','java','daa'])
print("original series:")
print(a)
result=a.map(lambda x:len(x))
print("\n no of characters in each word in a given series:")
print(result)

original series:
0       php
1    python
2      java
3       daa
dtype: object

 no of characters in each word in a given series:
0    3
1    6
2    4
3    3
dtype: int64

In [39]:
#compute difference between consecutive numbers and a given series
import pandas as pd
a=pd.Series([1,3,5,8,10,11,15])
print("original series:")
print(a)
print("\n difference between consecutive numbers and a given series:")
print(a.diff().tolist())
print(a.diff().diff().tolist())

original series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

 difference between consecutive numbers and a given series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [40]:
#convert a series of date strings to a timeseries
import pandas as pd
a=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("original series:")
print(a)
print("\n series of date strings to a timeseries:")
print(pd.to_datetime(a))

original series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

 series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [43]:
#get the day of month,year,week,week number
import pandas as pd
from dateutil.parser import parse
a=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("original series:")
print(a)
a=a.map(lambda x:parse(x))
print("Day of month:")
print(a.dt.day.tolist())
print("Day of year:")
print(a.dt.dayofyear.tolist())
print("Week number:")
print(a.dt.weekofyear.tolist())
print("Day of week:")
print(a.dt.weekday_name.tolist())

original series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [3]:
#convert year-month string to dates adding a specified day of the month
import pandas as pd
from dateutil.parser import parse
a=pd.Series(['Jan 2015','Feb 2016','Mar 2017','Apr 2018', 'May 2019'])
print("original series:")
print(a)
print("\n new series:")
result=a.map(lambda d:parse('11'+d))
print(result)

original series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

 new series:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [5]:
#program to filter words from a given series that contain atleast two vowels
import pandas as pd
from collections import Counter
a=pd.Series(['red','green','orange','pink','yellow','white'])
print("original series:")
print(a)
print("\n filtered words:")
result=mask=a.map(lambda c:sum([Counter(c.lower()).get(i,0) for i in list('aeiou')])>=2)
print(a[result])

original series:
0       red
1     green
2    orange
3      pink
4    yellow
5     white
dtype: object

 filtered words:
1     green
2    orange
4    yellow
5     white
dtype: object

In [7]:
#Pandas program to compute the Euclidean distance between two given series
import pandas as pd
import numpy as np
a=pd.Series([1,2,3,4,5,6,7,8,9,10])
b=pd.Series([11,8,7,5,6,5,3,4,7,1])
print("original series:")
print(a)
print(b)
print("\n Euclidean distance between two series:")
print(np.linalg.norm(a-b))

original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

 Euclidean distance between two series:
16.492422502470642

In [8]:
#Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series
import pandas as pd
import numpy as np
a=pd.Series([1,8,7,5,6,5,3,4,7,1])
print("original series:")
print(a)
print("\n positions of the values surrounded by smaller values on both sides:")
temp=np.diff(np.sign(np.diff(a)))
result=np.where(temp==-2)[0]+1
print(result)

original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

 positions of the values surrounded by smaller values on both sides:
[1 4 8]

In [10]:
#program to replace missing white spaces in a given string with the least frequent character
import pandas as pd
str1='abc def abcdef icd'
print("original series:")
print(str1)
ser=pd.Series(list(str1))
elem_freq=ser.value_counts()
print(elem_freq)
current_freq=elem_freq.dropna().index[-1]
result="".join(ser.replace(' ',current_freq))
print(result)

original series:
abc def abcdef icd
d    3
c    3
     3
f    2
a    2
b    2
e    2
i    1
dtype: int64
abcidefiabcdefiicd

In [11]:
#program to compute the autocorrelations of a given numeric series
import pandas as pd
import numpy as np
a=pd.Series(np.arange(15)+np.random.normal(1,10,15))
print("original series:")
print(a)
autocorrelations=[a.autocorr(i).round(2) for i in range(11)]
print("\n Autocorrelations of the series:")
print(autocorrelations[1:])

original series:
0     -6.695538
1     14.719970
2      0.366407
3     -0.758405
4     -6.160134
5      2.268782
6      6.069699
7     18.001970
8     16.529240
9     20.574161
10    13.899117
11    -0.233052
12     9.952637
13    12.227680
14    32.690174
dtype: float64

 Autocorrelations of the series:
[0.36, 0.24, -0.21, 0.05, 0.19, 0.44, 0.63, 0.48, 0.01, -0.78]

In [12]:
#program to create a TimeSeries to display all the Sundays of given year
import pandas as pd
result=pd.Series(pd.date_range('2020-01-01',periods=52,freq='W-SUN'))
print("all sundays of 2019:")
print(result)

all sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [3]:
#program to convert given series into a dataframe with its index as another column on the dataframe
import numpy as np
import pandas as pd
char_list=list('ABCDEFGHIJKLMNOP')
num_arr=np.arange(8)
num_dict=dict(zip(char_list,num_arr))
num_ser=pd.Series(num_dict)
df=num_ser.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [4]:
#program to stack two given series vertically and horizontally
import pandas as pd
series1=pd.Series(range(10))
series2=pd.Series(list('pqrstuvwxy'))
print("Original Series:")
print(series1)
print(series2)
series1.append(series2)
df=pd.concat([series1, series2], axis=1)
print("\n Stack two given series vertically and horizontally:")
print(df)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

 Stack two given series vertically and horizontally:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [5]:
#program to check the equality of two given series'
import pandas as pd
n1=pd.Series([1,8,7,5,6,5,3,4,7,1])
n2=pd.Series([1,8,7,5,6,5,3,4,7,1])
print("Original Series:")
print(n1)
print(n2)
print("Check 2 series are equal or not?")
print(n1==n2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [6]:
#program to find the index of the first occurrence of the smallest and largest value of a given series
import pandas as pd
n=pd.Series([1,3,7,12,88,23,3,1,9,0])
print("Original Series:")
print(n)
print("Index of the first occurrence of the smallest and largest value of the series:")
print(n.idxmin())
print(n.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the series:
9
4

In [7]:
#program to check inequality over the index axis of a given dataframe and a given series
import pandas as pd
df=pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
a=pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df)
print("\n Original Series:")
print(a)
print("\nCheck for inequality of the said series & dataframe:")
print(df.ne(a,axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

 Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True