## Experiment 1:
### a)Python Basics: Your first program, Types Expressions and Variables String Operations

#### (i)Your first program

In [3]:
print("hello world")

hello world

#### (ii)Types Expressions and Variables

In [6]:
a=10;
print(type(a));
b=10.2;
print(type(b));
a="ABC";
print(type(a));
a=True
print(type(a));

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#### (iii)String Operations

In [7]:
#printing a string
str="Hello V"
print(str)

Hello V

In [8]:
#string slicing
print(str[0])
print(str[0:3])
print(str[0:])

H
Hel
Hello V

In [12]:
#string concatenation
a="Hello"
b="World"
print("a+b=",a+b)
print("a*3=",a*3)

a+b= HelloWorld
a*3= HelloHelloHello

In [17]:
#membership function
a="Hello"
"b" in a

False

In [18]:
#membership function
a="Hello"
"o" in a

True

In [19]:
#Capitalize()
a="hello"
a.capitalize()

'Hello'

In [20]:
#Case fold()
a="HELLO"
a.casefold()

'hello'

In [21]:
#count
a="Data science"
a.count('e')

2

In [22]:
#index()
a="Data science"
a.index("a")

1

In [24]:
#is alpha() if it contains spaces then it returns false
a="Datascience"
a.isalpha()

True

In [25]:
#join()
a="abc"
b="cde"
a.join(b)

'cabcdabce'

In [26]:
#partition()
a="Data science"
a.partition("a")

('D', 'a', 'ta science')

In [27]:
#find()
a="Data science"
a.rfind('s')

5

In [30]:
#replace()
a="Bata science"
a.replace('B','D')

'Data science'

In [15]:
#upper()
str="welcome to cse2e"
print(str.upper())

WELCOME TO CSE2E

In [16]:
#lower()
print(str.lower())

welcome to cse2e

In [17]:
#title()
print(str.title())

Welcome To Cse2E

In [18]:
#center(len)
print(str.center(50))

                 welcome to cse2e

In [19]:
#count()
print(str.count('c'))

2

In [20]:
#encode()
print(str.encode())

b'welcome to cse2e'

In [21]:
#starts with()
print(str.startswith("w"))

True

In [24]:
#ends with()
print(str.endswith("2e"))

True

In [26]:
#expand tabs()
x="w \t e \t l \t c \t o \t m \t e \t t \t o \t c \t s \t e \t 2 \t e"
print(x.expandtabs(2))

w    e   l   c   o   m   e   t   o   c   s   e   2   e

In [27]:
#isalnum()
print(str.isalnum())

False

In [28]:
#isalpha()
print(str.isalpha())

False

In [29]:
#isdecimal()
print(str.isdecimal())

False

In [30]:
#isidentifier()
print(str.isidentifier())

False

In [31]:
#islower()
print(str.islower())

True

In [37]:
#isupper()
print(str.isupper())

False

In [33]:
#isnumeric()
print(str.isnumeric())

False

In [34]:
#isprintable()
print(str.isprintable())

True

In [35]:
#isspace()
print(str.isspace())

False

In [36]:
#istitle()
print(str.istitle())

False

In [38]:
#ljust()
print(str.ljust(1000))

welcome to cse2e

In [39]:
#lstrip()
print(str.lstrip())

welcome to cse2e

In [40]:
#rfind()
print(str.rfind('o'))

9

In [41]:
#rjust()
print(str.rjust(30))

              welcome to cse2e

In [42]:
#rsplit()
print(str.rsplit(','))

['welcome to cse2e']

In [43]:
#rstrip()
print(str.rstrip("2e"))

welcome to cs

In [44]:
#splitlines()
print(str.splitlines())

['welcome to cse2e']

In [45]:
#swapcase()
print(str.swapcase())

WELCOME TO CSE2E

In [46]:
#zfill()
print(str.zfill(30))

00000000000000welcome to cse2e

In [47]:
#len()
print(len(str))

16

### b) Python Data Structures: Lists and Tuples Sets,and Dictionaries

#### (i)List operations

In [32]:
#printing the list
L=[1,2,3,4]
print(L)

[1, 2, 3, 4]

In [33]:
L1=["ABC","DEF"]
print(L1)

['ABC', 'DEF']

In [34]:
#append()
L=[1,2,3]
L.append([9,7])
print(L)

[1, 2, 3, [9, 7]]

In [35]:
#insert
l=[1,2,3,4]
l.insert(0,2)
print(l)

[2, 1, 2, 3, 4]

In [36]:
#accessing
l=[1,2,3,4]
print(l[0])
print(l[-1])

1
4

In [38]:
#extend()
l=[1,2,3,4]
l.extend([9,8])
print(l)

[1, 2, 3, 4, 9, 8]

In [39]:
#deletion
l=[1,2,3,4]
del(l[0])
print(l)

[2, 3, 4]

In [40]:
#pop()
l=[1,2,3,4]
l.pop()
print(l)

[1, 2, 3]

In [41]:
#reverse()
l=[1,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 1]

In [42]:
#add
L1=[1,2,3]
L2=["a","b"]
print(L1+L2)

[1, 2, 3, 'a', 'b']

In [43]:
#sort()
L=[1,8,3,4]
L.sort(reverse=True)
print(L)

[8, 4, 3, 1]

In [44]:
#len()
L=[1,2,3,4]
print(len(L))

4

In [45]:
#max()
L=[1,2,3,4]
print(max(L))

4

In [47]:
#min()
print(min(L))

1

In [48]:
#empty list
l=[]
print(l)

[]

In [49]:
#type()
print(type(l))

<class 'list'>

In [50]:
#concatenation
l=l+[7,8,9]
print(l)

[7, 8, 9]

#### (ii)Tuple operations

In [58]:
#printing tuple
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [59]:
#length()
t=(1,2,3,4)
print(len(t))

4

In [60]:
#count()
t=(1,2,3,4,3,3)
print(t.count(3))

3

In [61]:
#index()
t=(1,2,3,4)
t.index(2)

1

In [63]:
#type()
t=(1,2,3)
print(type(t))

<class 'tuple'>

In [64]:
#concatenation
t1=(4,5,6)
print(t+t1)

(1, 2, 3, 4, 5, 6)

In [65]:
#len()
len(t)

3

In [66]:
#membership
1 in t

True

In [67]:
#nesting 
t2=t,t1
t2

((1, 2, 3), (4, 5, 6))

In [68]:
#count
print(t.count(3))

1

#### (iii)Set operations

In [52]:
#creating set
s={1,2,3}
print(s)

{1, 2, 3}

In [53]:
#union()
s1={1,2,3}
s2={4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [54]:
#intersection()
s1={1,2,3}
s2={2,4,5}
s1.intersection(s2)

{2}

In [55]:
#set difference()
s1={1,2,3}
s2={2,3,4}
s1.difference(s2)

{1}

In [57]:
#update and delete
s={0,1,2,3}
s.add(4)
s

{0, 1, 2, 3, 4}

In [59]:
#clear()
s={0,1,2}
s.clear()
s

set()

In [60]:
#pop()
s={0,1,2}
s.pop()

0

In [62]:
#discard()
s={0,1,2}
s.discard(0)
s

{1, 2}

In [64]:
#copy()
s={0,1,2}
s1=s.copy()
s1

{0, 1, 2}

In [70]:
#set difference update()
s={1,2,3}
s.difference_update({3})
s

{1, 2}

In [4]:
#issuperset
s1={1,2,3}
s2={1,4,8,9}
s1.issuperset(s2)

False

In [5]:
s1={1,2,3,4,5}
s2={1,2,3}
s1.issuperset(s2)

True

In [6]:
#issubset
s1={1,2,3}
s2={1,4,8,9}
s1.issubset(s2)

False

In [8]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

#### (iv)Dictionary operations

In [9]:
#creating a dictionary
d={"name":"priya","rno":126}
print(d)

{'name': 'priya', 'rno': 126}

In [11]:
d=dict([("name","priya"),("rno",126)])
print(d)

{'name': 'priya', 'rno': 126}

In [14]:
d["name"]="Vanaja"
d

{'name': 'Vanaja', 'rno': 126}

In [69]:
#empty dictionary
d={}
type(d)

dict

In [70]:
#len()
len(d)

0

In [71]:
#keys
d={"name":"v","rno":390}
d.keys()

dict_keys(['name', 'rno'])

In [72]:
#values()
d.values()

dict_values(['v', 390])

In [73]:
#items()
d.items()

dict_items([('name', 'v'), ('rno', 390)])

In [78]:
#get()
d.get("name")

'v'

In [79]:
#pop()
d.pop("rno")

390

In [81]:
#fromkeys()
keys=["name","rno"]
d.fromkeys(keys,10)

{'name': 10, 'rno': 10}

In [83]:
#copy()
d1=d.copy()
d

{'name': 'v'}

In [84]:
#popitem()
d.popitem()

('name', 'v')

In [85]:
d

{}

### c)Python Programming Fundamentals: Conditions and Branching Loops, Functions, Objects and Classes

#### (i)Conditions and Branching Loops

In [ ]:
#printing 1 to n numbers using for loop
n=int(input("Enter the number:"))
for i in range(1,n,11):
    print(i)

In [ ]:
#program to find greatest number among 3 numbers using if
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
c=int(input("Enter the number:"))
if a>b & a>c:
    print("a is greatest number")
if b>a & b>c:
    print("b is greatest number")
if c>a & b>c:
    print("c is greatest number")

In [ ]:
#program to find the given number is +ve/-ve
a=int(input("Enter the number rather than zero:"))
if a>0:
    print("given number is positive")
else:
    print("given number is negative")