In [1]:
import pandas as pd
a=pd.read_csv("sample.csv")

In [2]:
a

    Name  Age  Marks
0      V   18     20
1     JK   19     21
2     JM   20     22
3     RM   21     23
4   SUGA   22     24
5    JIN   23     25
6  JHOPE   24     26

In [3]:
a.groupby(['Age'])

In [10]:
print(a.groupby(["Age"]).mean())

     Marks
Age
18      20
19      21
20      22
21      23
22      24
23      25
24      26

In [7]:
print(a.groupby(["Age"]).max())

      Name  Marks
Age
18       V     20
19      JK     21
20      JM     22
21      RM     23
22    SUGA     24
23     JIN     25
24   JHOPE     26

In [8]:
print(a.groupby(["Marks"]).max())

        Name  Age
Marks
20         V   18
21        JK   19
22        JM   20
23        RM   21
24      SUGA   22
25       JIN   23
26     JHOPE   24

In [11]:
print(a.groupby(["Age"]).groups)

{18: Int64Index([0], dtype='int64'), 19: Int64Index([1], dtype='int64'), 20: Int64Index([2], dtype='int64'), 21: Int64Index([3], dtype='int64'), 22: Int64Index([4], dtype='int64'), 23: Int64Index([5], dtype='int64'), 24: Int64Index([6], dtype='int64')}

In [12]:
print(a.groupby(["Name"]).groups)

{'JHOPE': Int64Index([6], dtype='int64'), 'JIN': Int64Index([5], dtype='int64'), 'JK': Int64Index([1], dtype='int64'), 'JM': Int64Index([2], dtype='int64'), 'RM': Int64Index([3], dtype='int64'), 'SUGA': Int64Index([4], dtype='int64'), 'V': Int64Index([0], dtype='int64')}

In [13]:
b=a.groupby(["Name","Age"])

In [16]:
print(b.groups)

{('JHOPE', 24): Int64Index([6], dtype='int64'), ('JIN', 23): Int64Index([5], dtype='int64'), ('JK', 19): Int64Index([1], dtype='int64'), ('JM', 20): Int64Index([2], dtype='int64'), ('RM', 21): Int64Index([3], dtype='int64'), ('SUGA', 22): Int64Index([4], dtype='int64'), ('V', 18): Int64Index([0], dtype='int64')}

In [18]:
g=a.groupby(["Name"])

In [19]:
print(g.get_group("V"))

  Name  Age  Marks
0    V   18     20

In [20]:
a["Age"].value_counts()

24    1
23    1
22    1
21    1
20    1
19    1
18    1
Name: Age, dtype: int64